<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Agri Project
    </ion-title>
    <ion-button slot="end" color="primary" (click)="signOut()">Déconnexion</ion-button>
    <ion-button slot="end" color="warning" (click)="signIn()">Connexion</ion-button>
    <ion-button slot="end" color="primary" (click)="signUp()">Inscription</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
    <form class="form" [formGroup]="form" (ngSubmit)="onSubmit(form)">
      <ion-item color="tertiary" class="item">
        <ion-label>Votre numéro de siret: </ion-label>
        <ion-input type="text" formControlName="numSiret"></ion-input>
      </ion-item>
      <ion-item color="tertiary" class="item">      
        <ion-label>Êtes-vous bio ?</ion-label>
        <ion-input type="checkbox" formControlName="isBio"></ion-input>
      </ion-item>
      <ion-item color="tertiary" class="item">
        <ion-label>Catégorie :</ion-label>
        <ion-select multiple="true" formControlName="specialite" placeholder="Catégorie">
          <ion-select-option *ngFor="let cat of data | async" value="{{ cat.nom }}">{{ cat.nom }}</ion-select-option>
        </ion-select>
      </ion-item>     
      <ion-button class="button-sucess" color="success" type="submit">Valider le formulaire</ion-button>
    </form>
  </div>
</ion-content>
